.hidden {
  display: none !important;
}

.active {
  transform: translateY(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
  height: auto !important;

  &--reset {
    color: var(--very-dark-cyan) !important;
    background-color: var(--strong-cyan) !important;

    &:hover {
      color: var(--very-dark-cyan) !important;
      background-color: var(--light-grayish-cyan) !important;
      cursor: pointer !important;
    }
  }
}

.selected {
  color: var(--very-dark-cyan) !important;
  background-color: var(--light-grayish-cyan) !important;
}

// .input--error {
//   border: 2px solid var(--red-error) !important;
// }

.input--error:has(.bill-input__amount:focus) {
  border: 2px solid var(--red-error) !important;
}
